.encabezado{
    background-color: #95323B;
    height: 10%;
    width: 1980px;
    margin-top: -10px;
    margin-left: -20px;
}

a{
    text-decoration: none;
    color: black;
}
h3{
    font-family: sans-serif;
    font-size: 120%;
    position: relative;
    top: -100px;
    text-align: center;
    left: 200px;
    
}
body{
    background-color: #EDE8E8;
    width: 1920px;
}

.circulo1{
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(255, 255, 255);
    position: relative;
    right: -670px;
    top: -45px;
}

.circulo1_1{
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(0, 0, 0);
    position: relative;
    right: -605px;
    top: -40px;
}

.circulo2{
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(255, 255, 255);
    position: relative;
    right: -1040px;
    top: -45px;
}

.circulo2_1{
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(77, 212, 95);
    position: relative;
    right: -975px;
    top: -40px;
}

.circulo3{
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(255, 255, 255);
    position: relative;
    right: -586px;
    top: -45px;
}

.circulo3_1{
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(252, 64, 64);
    position: relative;
    right: -521px;
    top: -40px;
}

.circulo4{
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(255, 255, 255);
    position: relative;
    right: -610px;
    top: -45px;
}

.circulo4_1{
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(0, 0, 0);
    position: relative;
    right: -545px;
    top: -40px;
}

.fundamental{
    background: rgb(130, 134, 136);
    border-radius: 28%;
    width: 150px;
    height: 70px;
    position: relative;
    border-color: black;
    border: 2px;
    left: 500px;


}

.creditos{
    font-family: sans-serif;
    font-size: 3ch;
    position: relative;
    top: -40px;
    right: -1000px;
}

.circulo_creditos{

    float: left;
    width: 50px;
    height: 50px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(235, 75, 12);
    position: relative;
    left: 1300px;
    top: -70px;

}

h2{
    position: relative;
    left: 1243px;
    top: -7ch;
}

.subtitulo_pasos1{
    position: relative;
    left: -250px;
    top: -80px;
    font-size: 18px;

}

.subtitulo_pasos2{
    position: relative;
    left: -80px;
    top: -139px;
    font-size: 18px;

}

.subtitulo_pasos3{
    position: relative;
    left: 85px;
    top: -190px;
    font-size: 18px;

}

.subtitulo_pasos4{
    position: relative;
    left: 260px;
    top: -240px;
    font-size: 18px;

}

.btn_fundamental{

    background-image: -webkit-linear-gradient(top, #a1999f, #afb0b1);
    background-image: -moz-linear-gradient(top, #999497, #868b8f);
    background-image: -ms-linear-gradient(top, #d6cdd3, #aaafb3);
    background-image: -o-linear-gradient(top, #c7c2c5, #8b9499);
    background-image: linear-gradient(to bottom, #e2dfe1, #afb3b6);

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #868383;
    box-shadow: 3px 2px 15px #979393;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    position: relative;
    left: 500px;
    top: -200px;
}

.btn_fundamental:hover {
    background: #7b7e80;
    background-image: -webkit-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -moz-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -ms-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -o-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: linear-gradient(to bottom, #6b6c6d, #6b6c6d);
    text-decoration: none;
  }

  .btn_trabajo_grado{

    background-image: -webkit-linear-gradient(top, #a1999f, #afb0b1);
    background-image: -moz-linear-gradient(top, #999497, #868b8f);
    background-image: -ms-linear-gradient(top, #d6cdd3, #aaafb3);
    background-image: -o-linear-gradient(top, #c7c2c5, #8b9499);
    background-image: linear-gradient(to bottom, #e2dfe1, #afb3b6);

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #868383;
    box-shadow: 3px 2px 15px #979393;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    position: relative;
    right: -1200px;
    top: -266px;
}

.btn_trabajo_grado:hover {
    background: #7b7e80;
    background-image: -webkit-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -moz-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -ms-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -o-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: linear-gradient(to bottom, #6b6c6d, #6b6c6d);
    text-decoration: none;
  }

  .btn_disciplinar{

    background-image: -webkit-linear-gradient(top, #a1999f, #afb0b1);
    background-image: -moz-linear-gradient(top, #999497, #868b8f);
    background-image: -ms-linear-gradient(top, #d6cdd3, #aaafb3);
    background-image: -o-linear-gradient(top, #c7c2c5, #8b9499);
    background-image: linear-gradient(to bottom, #e2dfe1, #afb3b6);

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #868383;
    box-shadow: 3px 2px 15px #979393;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    position: relative;
    right: -750px;
    top: -330px;
}

.btn_disciplinar:hover {
    background: #7b7e80;
    background-image: -webkit-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -moz-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -ms-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -o-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: linear-gradient(to bottom, #6b6c6d, #6b6c6d);
    text-decoration: none;
  }

  .btn_libre_eleccion{

    background-image: -webkit-linear-gradient(top, #a1999f, #afb0b1);
    background-image: -moz-linear-gradient(top, #999497, #868b8f);
    background-image: -ms-linear-gradient(top, #d6cdd3, #aaafb3);
    background-image: -o-linear-gradient(top, #c7c2c5, #8b9499);
    background-image: linear-gradient(to bottom, #e2dfe1, #afb3b6);

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #868383;
    box-shadow: 3px 2px 15px #979393;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    position: relative;
    right: -950px;
    top: -395px;
}

.btn_libre_eleccion:hover {
    background: #7b7e80;
    background-image: -webkit-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -moz-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -ms-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: -o-linear-gradient(top, #6b6c6d, #6b6c6d);
    background-image: linear-gradient(to bottom, #6b6c6d, #6b6c6d);
    text-decoration: none;
  }


#h3materias{

    position: relative;
    top: -320px;
    left: -420px;
}

.filtrado{
    position: relative;
    top: -36px;
    left: 760px;
}

.ordenado{

    position: relative;
    top: -395px;
    left: 790px;
}


.materias{

    background-color: #b3b3b3;
    position: relative;
    right: -380px;
    top: -380px;
    border-style: solid;
}

.cuadrado_buscador{

    height: 380px;
    width: 550px; 
    border: 3px solid #000000;
    position: relative;
    right: -1000px;
    top: -762px;

}
.tit_buscador{

    position: relative;
    top: -10px;
    left: 1px;
    
    text-align: center;
    
}

.buscador_img{

    position: relative;
    right: -500px;
    top: -60px;
}

.lista_buscador{
    position: relative;
    top: -70px;
    font-size: 18px;
}

.busc_mat{

    border-style: solid;
    right: 1ch;
    width: 20%;
    position: relative;
    top: -820px;
    right: -1040px;
}